* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* :root {
    --lightblue: #E8F1FF;
    --darkblue: #102851;
    --blue: #1580EB;
    --gray: #a1a1a1;
    --moregray: #636363;
    --lesswhite: #F4F9F9;
    --lightblue2: #CCF2F4;
    --darkerblue: #125D98;
} */


body {
    overflow-x: hidden;
}

/* navbar */
.navbar-nav li {
    padding-left: 30px;
    font-weight: bold;
}

.navbar-nav :hover {
    text-decoration: underline;
}

.navbar-expand-lg {
    box-shadow: 2px 0px 2px 0px black;
}

.navbar-brand {
    padding-left: 30px;
}

.container img {
    height: 50px;
    width: 50px;
}
/* navbar akhir */
.about-us img {
    height: 450px;
    width: 450px;
    text-align: center;
}

.header {
    height: 100vh;
}

.container1 {
    height: 100vh;
    width: 100vw;
}

.container1 .container1-1 {
    height: 100vh;
    width: 100vw;
}

.container2 {
    /* height: 100vh; */
    width: 100vw;
}




/* jurusan */

.jurusan {
    background-color: #C1EFFF;
    height: 100vh;
}

.item{
    padding-right: 1rem;
}

.item img {
    height: 260px;
    border-radius: 12px 12px 0px 0px;
}

.item .card {
    height: 380px;
    border-radius: 12px;
}





/* ketentuan */

.sticky {
    /* width: 50%; */
    height: 100vh;
    /* background-color: var(--hijau); */
    position: sticky;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    top: 0;
    bottom: 0;
}

/* pembimbing */

.item1{
    padding-right: 8px;
}


.item1 img {
    height: 240px;
    border-radius: 12px 12px 0px 0px;
}

.item1 .card:hover {
    height: 370px;
    border-radius: 20px;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.item1 .card{
    border-radius: 12px;
}

/* .carousel-inner img{
    text-align: center;
    width: 90%;
    height: 470px;
    object-fit: cover;
}

.carousel-item {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 550px;
} */

/* experience */
/* .swiper {
    width: 900px;
    height: 550px;
} */

/* .swiper-slide {
    text-align: center;
    font-size: 18px; */

/* Center slide text vertically */
    /* display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
} */

/* .swiper-slide img {
    display: block;
    width: 90%;
    height: 450px;
    object-fit: cover;
} */
/* experience */